html {
  font-size: 13px; /* px means "pixels": the base font size is now 10 pixels high */
  font-family: "Roboto Mono", sans-serif; /* this should be the rest of the output you got from Google Fonts */
}

h1 {
    font-size: 60px;
    text-align: center;
  }
h2 {
    font-size: 30px

}
  
  p,
  li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }

  html {
    background-color: #F9FADF;
  }

  body {
    width: 1100px;
    margin: 0 auto;
    background-color: #D2CDB6;
    padding: 0 20px 20px 20px;
    border: 1px solid black;
  }

  h1 {
    margin: 0;
    padding: 20px 0;
    color: #524141;
    text-shadow: 2px 2px 1px black;
  }

  img {
    display: block;
    width: 500px;
    margin: 0 auto;
    transition: 0.3s;
  }
  
  
  